@import './constants.scss';

@mixin container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}

@mixin title($fz: 35px, $lh: 45px, $cl: $light-grey) {
    font-size: $fz;
    line-height: $lh;
    color: $cl;
}

@mixin text($fz: 15px, $lh: 24px, $cl: $dark-grey) {
    font-size: $fz;
    line-height: $lh;
    color: $cl;
}

@mixin btn($fz: 17px, $cl: $dark-grey) {
    font-family: $Georgia;
    font-size: $fz;
    line-height: 57%;
    letter-spacing: 0.06em;

    border: solid 2px $pale-pink;
    border-radius: 52px;
    background-color: transparent;
    color: #292929;

    cursor: pointer;

    &:hover {
        background-color: $pale-pink;
    }
}